.chart {
    border: 1px solid #006100;
    border-radius: 5px;
}

.btn-small {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar-separator-title {
    height: 5px;
    padding: 0 !important;
}

.bg-dark {
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.shadow {
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.filterBody {
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.Advance {
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

#searchBar {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#user {
    align-self: center;
    padding-bottom: 0px;
    padding-left: 15px;
}

#footerlogo {
    float: right;
    height: 20px;
}
